.shape{
    border-style: solid; border-width: 0 50px 50px 0; float:right; height: 0px; width: 0px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.shape-text{
    color:#fff; font-size:12px; font-weight:bold; position:relative; right:-18px; top:-3px; white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(46deg); /* Safari and Chrome */
	transform:rotate(46deg);
}
.grpblock{
	border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow-y: visible;
}
.shape {
	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.grpblock-radius{
	border-radius:7px;
}
.grpblock-danger {	border-color: #d9534f; }
.grpblock-danger .shape{
	border-color: transparent #d9534f transparent transparent;
}
.grpblock-success {	border-color: #5cb85c; }
.grpblock-success .shape{
	border-color: transparent #5cb85c transparent transparent;
}
.grpblock-default {	border-color: #999999; }
.grpblock-default .shape{
	border-color: transparent #999999 transparent transparent;
}
.grpblock-primary {	border-color: #428bca; }
.grpblock-primary .shape{
	border-color: transparent #428bca transparent transparent;
}
.grpblock-info {	border-color: #5bc0de; }
.grpblock-info .shape{
	border-color: transparent #5bc0de transparent transparent;
}
.grpblock-warning {	border-color: #f0ad4e; }
.grpblock-warning .shape{
	border-color: transparent #f0ad4e transparent transparent;
}
.grpblock-content{
	padding:0 10px 10px;
}
